/* ================= Hero Area ================= */

.hero-area {
    padding: 80px 30px 0;
}

.hero-area .btn {
    margin-top: 50px;
    padding: 10px 40px;
}

/* ================= Portfolio Area ================= */

.portfolio-area .portfolio-items .row>div[class^="col-"] {
    padding-left: 10px;
    padding-right: 10px;
}

.portfolio-area .portfolio-items .card {
    height: 100%;
}

/* ================= Services Area ================= */

.services-area figure {
    color: #222;
    padding: 25px 10px;
    text-align: center;
    border-radius: 5px;
    background: #fff;
}

.services-area figure h5 {
    color: #304ffe;
    margin: 25px 0;
}

.services-area .services-row>div[class^="col-"],
.skills-area .skills-row>div[class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
}

/* ================= Skill Area ================= */

.skills-area figure {
    color: #222;
    padding: 25px 10px;
    text-align: center;
    border-radius: 5px;
    background: #fff;
}

.skills-area figure h5 {
    color: #304ffe;
    margin: 25px 0;
}

.skills-area figure a {
    color: #e56353;
}

.skills-area figure a::after {
    content: '\f105';
    font-family: fontawesome;
    padding-left: 8px;
    position: relative;
    right: 0;
    transition: .2s ease-in;
}

.skills-area figure a:hover::after {
    right: -5px;
}

.skills-area .test-message {
    padding: 30px 0 0;
}

.skills-area .test-message .message {
    color: #323742;
    width: 90%;
    margin: auto;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-style: italic;
    position: relative;
}

.skills-area .test-message .message::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-left: 0px solid transparent;
    border-right: 60px solid transparent;
    top: 100%;
    left: 140px;
    border-top: 32px solid #fff;
}

.skills-area .test-message .author {
    padding: 20px 110px 0;
}

/* ===================== Contact Block ===================== */

.contact-block {
    color: #4b4f5d;
    overflow: hidden;
    border-radius: 5px;
}

.contact-block .c-b-footer {
    box-shadow: 0px 23px 56px 0px #5d5d5d;
}

/* ===================== Map Block ===================== */

.map-block {
    border-radius: 5px;
}